<html>

<head>
    <title>TTT Client</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="container">
    <div id="app" class="mt-5">
        <label>Enter API Base Endpoint:</label>
        <p>
            <input type="text" v-model="apiBaseUrl">
            <button type="button" class="btn btn-secondary m-2" @click="fetchGames">List Games</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary" @click="startNewGame">New Game</button>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="player" id="newPlayer1" value="1" v-model="newPlayer">
            <label class="form-check-label" for="newPlayer1">X</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="player" id="newPlayer2" value="2" v-model="newPlayer">
            <label class="form-check-label" for="newPlayer2">O</label>
        </div>

        </p>

        <div>
            <h4>Available Games</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Board</th>
                        <th>Next Move</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="game in games" :key="game.id">
                        <td>{{ game.id }}</td>
                        <td @click="play(game)">
                            <span class="badge" :class="toStatus(game.winner).style">
                                {{ toStatus(game.winner).message }}
                            </span>
                        </td>
                        <td class="font-monospace">
                            {{ toXsAndOs(game.board.substr(0,3)) }}<br>
                            {{ toXsAndOs(game.board.substr(3,3)) }}<br>
                            {{ toXsAndOs(game.board.substr(6,3)) }}
                        </td>
                        <td>{{ toXO(game.player) }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" @click="deleteGame(game)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg> Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="Object.keys(currentGame).length > 1">
            <hr>
            <h4>Current Game</h4>
            {{ toStatus(currentGame.winner).message}}
            <br>
            To Play: {{ toXO(currentGame.player) }}
            <table class="fs-1 table table-bordered text-center">
                <tbody>
                    <tr>
                        <td @click="move(currentGame, 0, 0)">{{ toXO(currentGame.board.substr(0,1)) }}</td>
                        <td @click="move(currentGame, 0, 1)">{{ toXO(currentGame.board.substr(1,1)) }}</td>
                        <td @click="move(currentGame, 0, 2)">{{ toXO(currentGame.board.substr(2,1)) }}</td>
                    </tr>
                    <tr>
                        <td @click="move(currentGame, 1, 0)">{{ toXO(currentGame.board.substr(3,1)) }}</td>
                        <td @click="move(currentGame, 1, 1)">{{ toXO(currentGame.board.substr(4,1)) }}</td>
                        <td @click="move(currentGame, 1, 2)">{{ toXO(currentGame.board.substr(5,1)) }}</td>
                    </tr>
                    <tr>
                        <td @click="move(currentGame, 2, 0)">{{ toXO(currentGame.board.substr(6,1)) }}</td>
                        <td @click="move(currentGame, 2, 1)">{{ toXO(currentGame.board.substr(7,1)) }}</td>
                        <td @click="move(currentGame, 2, 2)">{{ toXO(currentGame.board.substr(8,1)) }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <hr>

        <h6>Server Response:</h6>
        <pre class="text-warning bg-secondary">{{ serverResponse }}</pre>
    </div>
    <script>
        const App = {
            data() {
                return {
                    apiBaseUrl: 'http://localhost/api',
                    newPlayer: 1,
                    games: [],
                    serverResponse: '',
                    currentGame: {}
                }
            },
            methods: {
                move(game, row, col) {
                    console.log(row, col);
                    axios.post(this.apiBaseUrl + '/games/' + game.id, {
                        player: game.player,
                        move: row + "" + col
                    }).then(function (response) {
                        this.serverResponse = response.data;
                        this.currentGame = response.data;
                        this.fetchGames();
                    }.bind(this))
                },

                play(game) {
                    this.currentGame = game;
                    console.log(this.currentGame)
                },

                toStatus(winner) {
                    if (winner == 0) {
                        return {
                            style: 'bg-primary',
                            message: 'ONGOING'
                        }
                    }
                    if (winner == 1) {
                        return {
                            style: 'bg-success',
                            message: 'PLAYER ' + this.toXO(winner) + ' WINS!'
                        }
                    }

                    if (winner == 2) {
                        return {
                            style: 'bg-success',
                            message: 'PLAYER ' + this.toXO(winner) + ' WINS!'
                        }
                    }

                    if (winner == -1) {
                        return {
                            style: 'bg-warning text-dark',
                            message: 'TIE GAME'
                        }
                    }

                    return {
                        style: 'bg-danger',
                        message: 'INVALID'
                    }
                },

                toXO(player) {
                    if (player == 0) {
                        return '_';
                    }
                    if (player == 1) {
                        return 'X';
                    }
                    if (player == 2) {
                        return 'O';
                    }
                },

                toXsAndOs(boardString) {
                    return [...boardString].map((player) => {
                        return this.toXO(player);
                    }).join(' ');
                },

                fetchGames() {
                    axios.get(this.apiBaseUrl + '/games').then(function (response) {
                        this.serverResponse = response.data;
                        this.games = response.data;
                    }.bind(this))
                },

                startNewGame() {
                    axios.post(this.apiBaseUrl + '/games', {
                        player: this.newPlayer
                    }).then(function (response) {
                        this.serverResponse = response.data;
                        this.fetchGames();
                    }.bind(this))
                },

                deleteGame(game) {
                    axios.delete(this.apiBaseUrl + '/games/' + game.id).then(function (response) {
                        this.serverResponse = response.data;
                        this.games = response.data;
                        if (Object.keys(this.currentGame).length > 0 && game.id == this.currentGame.id) {
                            this.currentGame = {}
                        }
                    }.bind(this))
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>